version: "3.8"
services:
  glance:
    container_name: glance
    image: glanceapp/glance:latest
    restart: unless-stopped 
    environment:
      - TZ=${TZ}
      - NGINX_PROXY_URL=${NGINX_PROXY_URL}
      - NGINX_EMAIL_ID=${NGINX_EMAIL_ID}
      - NGINX_PASSWORD=${NGINX_PASSWORD}
      - SPEEDTEST_URL=${SPEEDTEST_URL}
      - SPEEDTEST_TRACKER_API_TOKEN=${SPEEDTEST_TRACKER_API_TOKEN}
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8081:8080"
    networks:
      - shared

networks:
  shared:
    external: true
